.divStyles {
    margin: 0 auto;


}



.headerStyles {
    text-decoration: none;
    text-align: center;
    color: orange;


}

.gitImgStyles {
    height: 42px;
    width: 42px;
    margin-top: 0px;
    right: 15px;
    position: absolute;
    padding-top: 5px;

}


span {
    color: black;
}

.header {
    text-decoration: none;
    justify-content: center;

}

@media (max-width: 500px) {
    .gitImgStyles {
        max-width: 20px;
        max-height: 20px;
    }
}