.divStyles {
    justify-content: center;
    width: 510px;
    margin: 0 auto
}

.headerStyles {
    text-decoration: none;
    text-align: center;
    color: orange
}

.gitImgStyles {
    height: 42px;
    width: 42px;
    margin-top: 0px;
    right: 15px;
    position: absolute;
    padding-top: 5px;

}

.linkedinImgStyles {
    height: 42px;
    width: 42px;
    margin-top: 0px;
    right: 80px;
    position: absolute;
    float: right;
}

span {
    color: black;
}

.header {
    text-decoration: none
}